venv
tools/*
!tools/.gitkeep

# pyinfra
**/pyinfra-debug.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/
